.container {
    margin: 10px 20px;
  }
  
  input {
    margin: 8px 0;
  }
  
  label {
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-right: 5px;
  }
  body, html{
      padding: 10px;
      background-color: grey;
  }
  